server {
             listen 80;
             listen 443;
             server_name {{ website_name }} www.{{ website_name }};
               
             root {{ wordpress_dir }}/{{ website_name }};
             
             access_log  /var/log/nginx/{{ website_name }}_access.log;
             error_log  /var/log/nginx/{{ website_name }}_error.log;

             index index.php index.html index.htm;

             location / {
                try_files $uri $uri/ /index.php?q=$uri&$args;
             }

             error_page 404 /404.html;
             error_page 500 502 503 504 /50x.html;

             location = /50x.html {
                root /usr/share/nginx/html;
             }

             location ~ \.php$ {
                try_files $uri =404;
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_pass unix:/var/run/php5-fpm.sock;
                fastcgi_index index.php;
                include fastcgi_params;
              }
}